[Unit]
Description=Light switch daemon
After=syslog.target

[Service]
Type=forking
User=lightswitch
PIDFile=/var/run/lightswitch/lightswitch.pid
# Note the -f: don't fail if there is no PID file
ExecStartPre=/bin/rm -f /var/run/lightswitch.pid
ExecStart=/usr/local/bin/light_switch
Restart=on-abort
RestartSec=30
After=bluetooth.service

[Install]
Alias=default.target
