[Unit]
Description=Light switch daemon
After=bluetooth.service

[Service]
Type=forking
User=lightswitch
PIDFile=/var/run/lightswitch/lightswitch.pid
# Note the -f: don't fail if there is no PID file
ExecStartPre=/usr/local/bin/light_switch_prepare
ExecStart=/usr/local/bin/light_switch
Restart=on-abort
RestartSec=30
After=bluetooth.service

[Install]
WantedBy=multi-user.target
